*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header{
    width: 100%;
    position: absolute;
    background-color: transparent;
    position: fixed;
    z-index: 1;
    .container{
        
        .navbar{
            .navdiv{
                display: flex;
                align-items: center;
                justify-content: space-between;
                .uldiv{
                    display: flex;
                    align-items: center;
                    justify-content: end;
                    ul{
                        li{
                            a{
                                color: $main-color;
                                font-weight: 400;
                                font-size: 11px;
                            }
                          
                        }
                    }
                }
            }
        }
    }
}
#entrance{
    background-image: url(/assets/img/banner-bg.jpg);
padding: 30px;
    .container{
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 30px;
        .row{
            margin-top: 30px;
            margin-bottom: 30px;
            padding: 30px;
            display: flex;
            align-items: center;
            justify-content: center;
            .textdiv{
h1{
    width: 500px;
    font-size: 60px;
    color: $main-color;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}
p{
    color: $main-color;
    font-size: 15px;
}
button{
    width: 150px;
    height: 50px;
    border: none;
    color: #3D2260;
}
button:hover{
    border: 2px solid $main-color;
    color: $main-color;
    background-color: transparent;
    transition: 1s;
}
            }
          
        }
    }
}
#robots{
    .container{
        margin-top: 30px;
    padding: 30px;
    margin-bottom: 30px;
        .row{ 
            margin-bottom: 30px;
            .title{
display: flex;
flex-direction: column;
align-items: center;
justify-content: center;
margin-bottom: 30px;
margin-top: 30px;
            }
            .aboutrobot{
                background-color: #F9F9FF;
                display: flex;
                align-items: center;
                justify-content: center;
                text-align: center;
                flex-direction: column;
                gap: 10px;
                h5{
                    font-weight: 700;
                }
                p{
                    color: #8F8FC3;
                }
                button{
                    border: none;
                    background-color: $main-color;
                    font-weight: 700;
                    font-size: 15px;
                    width: 150px;
                    height: 40px;
                }
                button:hover{
                    background-color:rgb(154, 109, 196);
                    transition: 0.5s;
                }
                img{
                    background-color: $main-color;
                
                }
            }
            
        }
    }
}
#features{
    background-image: url(/assets/img/feature-bg.jpg);
    .container{
        margin-top: 30px;
        margin-bottom: 30px;
        padding: 30px;
        .row{
        
            .title{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 30px;
                margin-top: 30px;
        h1{
        color: $main-color;
        }
        p{
            color: $main-color;
        }
        }
        .informdiv{
            h5{
                gap: 10px;
            }
            background-color: $main-color;
   padding: 20px;
   padding-left: 20px;
   border: none;
   border-radius: 10px;
   gap: 20px;
   margin-bottom: 20px;
   h5{
    display: flex;
    justify-content: start;
    align-items: center;
    gap: 10px;
    cursor: pointer;
   }
   h5:hover{
    color: rgb(86, 97, 211);
   transition: 0.5s;
   }
     }
    }
}}
#blog{
    .container{
        margin-top: 30px;
        margin-bottom: 30px;

        .row{
        
            .title{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                margin-bottom: 30px;
                margin-top: 30px;
        h1{
        color: $second-color;
        }
        p{
            color: $second-color;
        }
    }
    .blogdiv{
        display: flex;
        flex-direction: column;
        align-items: start;
        justify-content: start;
        gap: 10px;
    img{
        width: 100%;
    }
        button{
            border: none;
            background-color: #8562b3;
            color: $main-color;
            width: 80px;
        }
        button:hover{
            background-color: $main-color;
            color: $second-color;
            border: 1px solid  #8562b3;
            transition: 1s;
        }
        p{
            color: #8F8FC3; 
        }
    }
}
}
}
footer{
    background-image: url(/assets/img/footer-bg.jpg);
    .container{
        margin-top: 30px;
        padding: 30px;

        .row{
            margin-top: 30px;
            margin-bottom: 30px;
            
            .textdiv{
         
                display: flex;
                align-items: center;
                justify-content: center;
                color: $main-color;
                p{
                   font-size: 15px;
                }
            }
            .buttons{
    
                gap: 20px;
                display: flex;
                align-items: center;
                justify-content: end;
                button{
background-color: $second-color;
color: $main-color;
font-size: 15px;
padding: 10px;
border: none;
                }
            }
        }
    }
}